@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi:wght@400;500;600;700&display=swap');

body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Reem Kufi', sans-serif;
    /* background-color: #0278ff;
    background-image: url("https://www.transparenttextures.com/patterns/bright-squares.png"); */
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0'%3E%3Cstop offset='0' stop-color='%230FF'/%3E%3Cstop offset='1' stop-color='%23CF6'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%23F00'/%3E%3Cstop offset='1' stop-color='%23FC0'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23FFF' fill-opacity='0' stroke-miterlimit='10'%3E%3Cg stroke='url(%23a)' stroke-width='2'%3E%3Cpath transform='translate(0 0)' d='M1409 581 1450.35 511 1490 581z'/%3E%3Ccircle stroke-width='4' transform='rotate(0 800 450)' cx='500' cy='100' r='40'/%3E%3Cpath transform='translate(0 0)' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/%3E%3C/g%3E%3Cg stroke='url(%23b)' stroke-width='4'%3E%3Cpath transform='translate(0 0)' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/%3E%3Crect stroke-width='8' transform='rotate(0 1089 759)' x='1039' y='709' width='100' height='100'/%3E%3Cpath transform='rotate(0 1400 132)' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}
label{
    color: #2c00ff;
}
.container{
    width: 80%;
    margin: 0vh auto;
    border-radius: 5px;
}
h3{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.section{
    border: solid thin grey;
    background-color: white;
    padding: 15px 30px;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}
.div{
    line-height: 40px;
    margin: 25px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    font-size: 22px;
}
.text{
    background-color: #d9d7d7;
    width: 85%;
    padding: 5px 15px;
    overflow: scroll;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgb(101 100 100 / 20%);
}
.text span{
    /* border: 2px solid; */
    width: fit-content;
    background-color: #d9d7d7;
}
.copied{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
#btn{
    background: rgba(15, 110, 255, 0.1);
    padding: 10px 15px;
    font-size: 20px;
    border-radius: 10px;
    color: #0F6EFF;
    /* color: ; */
    border: none;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.btn{
    margin-bottom: 10px;
}
#btn:hover{
    cursor: pointer;
    background-color: #0F6EFF;
    border: #0F6EFF;
    color: white ;
}
.text::-webkit-scrollbar {
    display: none;
  }
.head{
    text-align: center;
    font-size: 25px;
    letter-spacing: 5.5px;
}
#size{
    border: solid thin grey;
    font-size: 15px;
    border-radius: 10px;
    padding: 5px;
    padding-left: 10px;
    font-weight: bold;
}
#size::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.copy-text{
    cursor: pointer;
    border: none;
    width: 9%;
    background-color: #ededee;
    font-size: 25px;
    border-radius: 10px;
    height: 50px;
    transition: all 0.5s;
    transform: scale(0.8);
}
.copy-text:hover{
    background-color: #d2d2d4;
    transform: scale(0.9);
}
.copy-text::before{
    content: "copy";
    background-color: #d2d2d4;
    position: absolute;
    color: rgb(34, 33, 33);
    font-weight: bold;
    top: -40px;
    font-size: 16px;
    right: -0.5rem;
    border-radius: 10px;
    padding: 5px 20px;
    text-align: center;
    z-index: 999;
}

.copy-text::after{
    content: "";
    position: absolute;
    background-color: #d2d2d4;
    height: 10px;
    width: 10px;
    top: -33.55%;
    left: 15px;
    transform: rotate(45deg);
}
.copy-text::after , .copy-text::before{
    display: none;
}
.copy-text:hover::after , .copy-text:hover::before{
    display: initial;
}
button:hover i{
    filter: brightness(100);
}



@media screen and (max-width:500px){
    .container{
        width: unset;
    }
    .section{
        padding: 5px;
    }
    .div{
        font-size: 16px;
    }
    #size{
        width: 25%;
    }
    .copy-text{
        width: 11%;
        font-size: 20px;
        height: 40px;

    }
}

@media screen and (max-width:700px){
    .container{
        max-width: 95%;
    }
}

@media screen and (min-width:1100px){
    .container{
        width: 60%;
    }
}