@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi:wght@400;500;600;700&display=swap');

body{
    display: flex;
    margin: 0vh auto;
    justify-content: center;
    flex-direction: column;
    max-width: 40%;
    font-family: 'Reem Kufi', sans-serif;
    background-color: #0278ff;
    background-image: url("https://www.transparenttextures.com/patterns/bright-squares.png");


}
.container{
    /* border: solid thin grey; */
    border-radius: 5px;
}
.section{
    border: solid thin grey;
    background-color: white;
    padding: 15px 30px;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}
.div{
    line-height: 40px;
    /* border-bottom: solid thin; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    font-size: 20px;
}
.text{
    background-color: #d9d7d7;
    margin-bottom: 15px;
    padding: 0 15px;
    overflow: scroll;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgb(51 49 49 / 20%);
}
.text span{
    /* border: 2px solid; */
    width: fit-content;
    background-color: #d9d7d7;
}
#btn{
    background: rgba(15, 110, 255, 0.1);
    margin: 12px 12px 0px 0;
    padding: 10px 15px;
    font-size: 20px;
    border-radius: 10px;
    color: #0F6EFF;
    border: none;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
#btn:hover{
    cursor: pointer;
    background-color: #0F6EFF;
    border: #0F6EFF;
    color: white ;
}
.text::-webkit-scrollbar {
    display: none;
  }
.head{
    text-align: center;
    font-size: 25px;
    letter-spacing: 5.5px;
}
/* .overflow{
    overflow-x: scroll;
    -ms-scrollbar-track-color: #d9d7d7;
} */